img {
    border-radius: 50%;
    width: 110px;
    size: 100px;
    height: 90px;
}

body {
    text-align: center;
    background: rgb(3, 2, 17);
    background: -moz-linear-gradient(90deg, rgba(3, 2, 17, 1) 44%, rgba(3, 2, 17, 1) 45%, rgba(244, 243, 247, 1) 100%, rgba(235, 235, 235, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3, 2, 17, 1) 44%, rgba(3, 2, 17, 1) 45%, rgba(244, 243, 247, 1) 100%, rgba(235, 235, 235, 1) 100%);
    background: linear-gradient(90deg, rgba(3, 2, 17, 1) 44%, rgba(3, 2, 17, 1) 45%, rgba(244, 243, 247, 1) 100%, rgba(235, 235, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030211", endColorstr="#ebebeb", GradientType=1);
    color: #FF0000;
}

#bio {
    color: #FF0000;
    font-size: 20px;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
